<header>
    <div class="header-wrapper">
        <div class="title">
            <a href="{{ '/' | relative_url }}">Julian Velling</a>
            <div class="spacer"></div>
            <button class="hamburger-menu" onclick="document.querySelector('.header-wrapper').classList.toggle('open')">
                <svg class="icon" role="img" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"></svg>
            </button>
        </div>
        {%- include nav-menu.html -%}
        <div class="social-wrapper">
            {%- include social.html -%}
        </div>
    </div>
</header>