footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;

    padding-block: 1em;

    opacity: .67;
}

footer .links {
    padding-inline: .75em;
}

footer .links li {
    display: inline-block;

    border-left: currentColor 2px solid;
}

footer .links a {
    padding: .5em .75em;
}

footer .social li {
    font-size: 1.5em;
}

footer .social a {
    padding: .125em;

    line-height: 1;
}