*,
::before,
::after {
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
	box-sizing: inherit;
}

@media (prefers-reduced-motion) {
    *,
	::before,
	::after {
		transition: none !important;
	}
}

html {
	text-rendering: optimizeLegibility;
	font-size: 16px;
}

@media (min-width: 992px) {
    html {
		font-size: 18px;
	}
}

@media (min-width: 2570px) {
    html {
		font-size: 24px;
	}
}

html, body {
	position: relative;
	overflow-x: hidden;
}

body {
    display: grid;
    grid-template:
        "header" min-content
        "content" auto
        "footer" min-content;
    

    min-height: 100vh;
    min-height: 100svh;

    background-attachment: fixed;
    background-color: #fff;
    color: #000;
    font-family: var(--main-font, sans-serif);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}
}

body>* {
    max-width: var(--content-width);
    margin-inline: auto;
    padding-inline: var(--content-padding);
    width: 100%;
    width: min(100%, var(--content-width));

    box-sizing: border-box;
}

main {
    grid-area: content;

    display: grid;
    align-items: center;
}

.social {
    text-align: center;
}

.social li {
    display: inline-block;

    font-size: 2em;
}

main .social li,
main nav li {
    transition: transform .25s ease-out;
}

main .social li:hover {
    transform: scale(1.1);
}

main .social li {
    margin-inline: 1.5rem;
}

.social a {
    display: inline-block;
}

main nav,
main .social {
    padding-block: .5rem;
}

main nav li {
    margin-inline: 1rem;

    border: currentColor 2px solid;
}

main nav li:hover {
    transform: scale(1.05);
}

p {
    margin-bottom: .5rem;
}

p:last-child {
    margin-bottom: 0;
}