*,
::before,
::after {
	margin: 0;
	padding: 0;
	color: inherit;
	text-decoration: none;
	box-sizing: inherit;
}

@media (prefers-reduced-motion) {
    *,
	::before,
	::after {
		transition: none !important;
	}
}

html {
	text-rendering: optimizeLegibility;
	font-size: 16px;
    line-height: 1.4;
}

@media (min-width: 992px) {
    html {
		font-size: 18px;
	}
}

@media (min-width: 2570px) {
    html {
		font-size: 24px;
	}
}

html, body {
	position: relative;
	overflow-x: hidden;
}

body {
    display: grid;
    grid-template:
        "header" min-content
        "content" auto
        "footer" min-content;
    

    min-height: 100vh;
    min-height: 100svh;

    background-attachment: fixed;
    background-color: #fff;
    color: #000;
    font-family: var(--main-font);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}
}

body>* {
    max-width: var(--content-width);
    margin-inline: auto;
    padding-inline: var(--content-padding);
    width: 100%;
    width: min(100%, var(--content-width));

    box-sizing: border-box;
}

.background-image {
    position: fixed;

    max-width: unset;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    object-fit: cover;

    z-index: -1;
}

.motion {
    display: none;
}

@media (min-width: 544px) and (prefers-reduced-motion: no-preference) {
    .motion {
        display: initial;
	}

    .no-motion {
        display: none;
	}
}

main {
    grid-area: content;

    display: grid;
    align-items: center;

    padding-top: 1.5rem;
}

.wrapper {
    display: grid;
    align-content: space-evenly;

    border-radius: calc(2 * var(--content-padding));
    min-height: min(50%, 15rem);
    padding: calc(2 * var(--content-padding));

    backdrop-filter: brightness(1.1);
    box-shadow: 0px 0px 1rem 0px #0008;
}

@media (prefers-color-scheme: dark) {
	.wrapper {
        backdrop-filter: brightness(.85);
        box-shadow: 0px 0px 1rem 0px #000a;
	}
}


@media (min-width: 1000px) {
    .wrapper {
        border-radius: 1rem;
        padding: 1rem;
	}
}

.social {
    text-align: center;
}

.social li {
    display: inline-block;

    font-size: 2em;
}

main .social li,
main nav li {
    transition: transform .1s ease-out;
}

main .social li:has(:focus),
main .social li:hover {
    transform: scale(1.1);
}

main .social li {
    margin-inline: 1rem;
}

.social a {
    display: inline-block;
}

main nav,
main .social {
    padding-block: .5rem;
}

main nav li {
    margin-inline: 1rem;

    border: currentColor 2px solid;
}

main nav li:has(:focus),
main nav li:hover {
    transform: scale(1.05);
}

p {
    margin-bottom: .5rem;
}

p:last-child {
    margin-bottom: 0;
}

img[alt="Profile Picture"] {
    height: 10rem;
    width: 10rem;

    border-radius: 50%;

    box-shadow: 0px 0px 1rem 0px #0008;

    object-fit: cover;
}

@media (prefers-color-scheme: dark) {
	img[alt="Profile Picture"] {
        box-shadow: 0px 0px 1rem 0px #000a;
	}
}

h1 {
    margin-bottom: .4em;

    font-family: var(--secondary-font);
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    text-transform: lowercase;
}

@media (min-width: 544px) {
    h1 {
        font-size: 2em;
	}
}

h1::before {
    content: '{ "';
    opacity: .67;
}

h1::after {
    content: '" }';
    opacity: .67;
}

h2 {
    margin-bottom: .25em;

    font-size: 1.4em;
}

@media (min-width: 544px) {
    h1 {
        font-size: 1.5em;
	}
}

.emoji {
    height: 1em;
    width: auto;

    vertical-align: text-top;
}