@import url(https://fonts.bunny.net/css?family=albert-sans:400,400i,700,700i,900,900i);
@import url(https://fonts.bunny.net/css?family=fira-code:400,600);

@property --content-padding {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@property --content-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 1000px;
}

@property --main-font {
    inherits: true;
    initial-value: sans-serif;
}

@property --secondary-font {
    inherits: true;
    initial-value: monospace;
}

:root {
    --content-padding: .4rem;
    --content-width: 1000px;

    --main-font: 'Albert Sans', sans-serif;
    --secondary-font: 'Fira Code', monospace;
}

@media (min-width: 544px) {
    :root {
        --content-padding: 1.5rem;
	}
}

@media (min-width: 1000px) {
    :root {
        --content-padding: 1rem;
	}
}